body {
  background-color: red;
  -webkit-transition: all 0.99s ease;
  -moz-transition: all 0.99s ease;
  -ms-transition: all 0.99s ease;
  -o-transition: all 0.99s ease;
  transition: all 0.99s ease;
  background: white;
  color: black !important;
}

body img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
body #detail-left {
  position: absolute;
  width: 90%;
  top: -178px;
  filter: blur(1px) opacity(0.9);
}
body #detail-right {
  position: absolute;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 750px;
  top: -100px;
  right: 0;
  z-index: -1;
}
body .sm-text {
  font-size: 0.9rem !important;
}
body .so-sm-text {
  font-size: 0.8rem !important;
}
body .f-900 {
  font-weight: 900;
}
body .f-700 {
  font-weight: 700;
}

body .fs {
  font-size: 4rem;
}

body .hoverable-text {
  -webkit-transition: all 0.99s ease;
  -moz-transition: all 0.99s ease;
  -ms-transition: all 0.99s ease;
  -o-transition: all 0.99s ease;
  transition: all 0.99s ease;
}
body .hoverable-text:hover {
  color: #505050 !important;
}
body .index-local {
  min-height: 500px;
  background: url(../img/campus_itapetininga.png) no-repeat;
  background-size: 80%;
  background-position-x: 100%;
}
body .index-local h5 {
  line-height: 2.5rem;
}
@media screen and (max-width: 600px) {
  body .index-local {
    background-image: none;
  }
}
body .row_apoio_realizacao {
  background: white !important;
  padding-bottom: 32px;
  margin-bottom: 0;
}
body .rounded {
  border-radius: 20px 20px 0 0;
}
body .losangle {
  z-index: 0;
  top: -30px;
  color: #fff !important;
  font-size: 3rem;
}
body .losangle div {
  z-index: 1;
}
@media screen and (max-width: 600px) {
  body .losangle div {
    font-size: 2rem !important;
  }
}
body .losangle:before {
  content: "";
  width: 100%;
  height: 54px;
  background: #00b2ca;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 10px;
  transform: skew(-17deg);
}
body #footer {
  background-image: url(../img/footer-detail.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
  body #footer {
    background-position-y: bottom;
  }
}
body .position-relative {
  position: relative;
}
body .italic {
  font-style: italic;
}
body .footer-final {
  background-image: url(../img/footer-detail.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
body .footer-final .text-about {
  color: black !important;
}
body .footer-final .text-about a {
  color: black !important;
}
@media screen and (max-width: 600px) {
  body .footer-final {
    background-size: cover;
    background-position-y: bottom;
    min-height: 20rem;
  }
}
body .footer-final a {
  color: white !important;
}
body .mt-0 {
  margin-top: 0rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-0 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-0 {
    margin-top: 0rem !important;
  }
}
body .pt-0 {
  padding-top: 0rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-0 {
    padding-top: 0 !important;
  }
}
body .pb-0 {
  padding-bottom: 0rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-0 {
    padding-bottom: 0 !important;
  }
}
body .p-0 {
  padding: 0rem !important;
}
@media screen and (max-width: 600px) {
  body .p-0 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-0 {
    padding-top: 0rem !important;
  }
}
body .mb-0 {
  margin-bottom: 0rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-0 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-0 {
    margin-bottom: 0rem !important;
  }
}
body .mt-1 {
  margin-top: 1rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-1 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-1 {
    margin-top: 1rem !important;
  }
}
body .pt-1 {
  padding-top: 1rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-1 {
    padding-top: 0 !important;
  }
}
body .pb-1 {
  padding-bottom: 1rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-1 {
    padding-bottom: 0 !important;
  }
}
body .p-1 {
  padding: 1rem !important;
}
@media screen and (max-width: 600px) {
  body .p-1 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-1 {
    padding-top: 1rem !important;
  }
}
body .mb-1 {
  margin-bottom: 1rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-1 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-1 {
    margin-bottom: 1rem !important;
  }
}
body .mt-2 {
  margin-top: 2rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-2 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-2 {
    margin-top: 2rem !important;
  }
}
body .pt-2 {
  padding-top: 2rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-2 {
    padding-top: 0 !important;
  }
}
body .pb-2 {
  padding-bottom: 2rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-2 {
    padding-bottom: 0 !important;
  }
}
body .p-2 {
  padding: 2rem !important;
}
@media screen and (max-width: 600px) {
  body .p-2 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-2 {
    padding-top: 2rem !important;
  }
}
body .mb-2 {
  margin-bottom: 2rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-2 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-2 {
    margin-bottom: 2rem !important;
  }
}
body .mt-3 {
  margin-top: 3rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-3 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-3 {
    margin-top: 3rem !important;
  }
}
body .pt-3 {
  padding-top: 3rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-3 {
    padding-top: 0 !important;
  }
}
body .pb-3 {
  padding-bottom: 3rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-3 {
    padding-bottom: 0 !important;
  }
}
body .p-3 {
  padding: 3rem !important;
}
@media screen and (max-width: 600px) {
  body .p-3 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-3 {
    padding-top: 3rem !important;
  }
}
body .mb-3 {
  margin-bottom: 3rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-3 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-3 {
    margin-bottom: 3rem !important;
  }
}
body .mt-4 {
  margin-top: 4rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-4 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-4 {
    margin-top: 4rem !important;
  }
}
body .pt-4 {
  padding-top: 4rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-4 {
    padding-top: 0 !important;
  }
}
body .pb-4 {
  padding-bottom: 4rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-4 {
    padding-bottom: 0 !important;
  }
}
body .p-4 {
  padding: 4rem !important;
}
@media screen and (max-width: 600px) {
  body .p-4 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-4 {
    padding-top: 4rem !important;
  }
}
body .mb-4 {
  margin-bottom: 4rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-4 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-4 {
    margin-bottom: 4rem !important;
  }
}
body .mt-5 {
  margin-top: 5rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-5 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-5 {
    margin-top: 5rem !important;
  }
}
body .pt-5 {
  padding-top: 5rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-5 {
    padding-top: 0 !important;
  }
}
body .pb-5 {
  padding-bottom: 5rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-5 {
    padding-bottom: 0 !important;
  }
}
body .p-5 {
  padding: 5rem !important;
}
@media screen and (max-width: 600px) {
  body .p-5 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-5 {
    padding-top: 5rem !important;
  }
}
body .mb-5 {
  margin-bottom: 5rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-5 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-5 {
    margin-bottom: 5rem !important;
  }
}
body .mt-6 {
  margin-top: 6rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-6 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-6 {
    margin-top: 6rem !important;
  }
}
body .pt-6 {
  padding-top: 6rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-6 {
    padding-top: 0 !important;
  }
}
body .pb-6 {
  padding-bottom: 6rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-6 {
    padding-bottom: 0 !important;
  }
}
body .p-6 {
  padding: 6rem !important;
}
@media screen and (max-width: 600px) {
  body .p-6 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-6 {
    padding-top: 6rem !important;
  }
}
body .mb-6 {
  margin-bottom: 6rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-6 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-6 {
    margin-bottom: 6rem !important;
  }
}
body .mt-7 {
  margin-top: 7rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-7 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-7 {
    margin-top: 7rem !important;
  }
}
body .pt-7 {
  padding-top: 7rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-7 {
    padding-top: 0 !important;
  }
}
body .pb-7 {
  padding-bottom: 7rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-7 {
    padding-bottom: 0 !important;
  }
}
body .p-7 {
  padding: 7rem !important;
}
@media screen and (max-width: 600px) {
  body .p-7 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-7 {
    padding-top: 7rem !important;
  }
}
body .mb-7 {
  margin-bottom: 7rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-7 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-7 {
    margin-bottom: 7rem !important;
  }
}
body .mt-8 {
  margin-top: 8rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-8 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-8 {
    margin-top: 8rem !important;
  }
}
body .pt-8 {
  padding-top: 8rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-8 {
    padding-top: 0 !important;
  }
}
body .pb-8 {
  padding-bottom: 8rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-8 {
    padding-bottom: 0 !important;
  }
}
body .p-8 {
  padding: 8rem !important;
}
@media screen and (max-width: 600px) {
  body .p-8 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-8 {
    padding-top: 8rem !important;
  }
}
body .mb-8 {
  margin-bottom: 8rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-8 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-8 {
    margin-bottom: 8rem !important;
  }
}
body .mt-9 {
  margin-top: 9rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-9 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-9 {
    margin-top: 9rem !important;
  }
}
body .pt-9 {
  padding-top: 9rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-9 {
    padding-top: 0 !important;
  }
}
body .pb-9 {
  padding-bottom: 9rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-9 {
    padding-bottom: 0 !important;
  }
}
body .p-9 {
  padding: 9rem !important;
}
@media screen and (max-width: 600px) {
  body .p-9 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-9 {
    padding-top: 9rem !important;
  }
}
body .mb-9 {
  margin-bottom: 9rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-9 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-9 {
    margin-bottom: 9rem !important;
  }
}
body .mt-10 {
  margin-top: 10rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-10 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-10 {
    margin-top: 10rem !important;
  }
}
body .pt-10 {
  padding-top: 10rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-10 {
    padding-top: 0 !important;
  }
}
body .pb-10 {
  padding-bottom: 10rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-10 {
    padding-bottom: 0 !important;
  }
}
body .p-10 {
  padding: 10rem !important;
}
@media screen and (max-width: 600px) {
  body .p-10 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-10 {
    padding-top: 10rem !important;
  }
}
body .mb-10 {
  margin-bottom: 10rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-10 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-10 {
    margin-bottom: 10rem !important;
  }
}
body .mt-11 {
  margin-top: 11rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-11 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-11 {
    margin-top: 11rem !important;
  }
}
body .pt-11 {
  padding-top: 11rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-11 {
    padding-top: 0 !important;
  }
}
body .pb-11 {
  padding-bottom: 11rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-11 {
    padding-bottom: 0 !important;
  }
}
body .p-11 {
  padding: 11rem !important;
}
@media screen and (max-width: 600px) {
  body .p-11 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-11 {
    padding-top: 11rem !important;
  }
}
body .mb-11 {
  margin-bottom: 11rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-11 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-11 {
    margin-bottom: 11rem !important;
  }
}
body .mt-12 {
  margin-top: 12rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-12 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-12 {
    margin-top: 12rem !important;
  }
}
body .pt-12 {
  padding-top: 12rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-12 {
    padding-top: 0 !important;
  }
}
body .pb-12 {
  padding-bottom: 12rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-12 {
    padding-bottom: 0 !important;
  }
}
body .p-12 {
  padding: 12rem !important;
}
@media screen and (max-width: 600px) {
  body .p-12 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-12 {
    padding-top: 12rem !important;
  }
}
body .mb-12 {
  margin-bottom: 12rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-12 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-12 {
    margin-bottom: 12rem !important;
  }
}
body .mt-13 {
  margin-top: 13rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-13 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-13 {
    margin-top: 13rem !important;
  }
}
body .pt-13 {
  padding-top: 13rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-13 {
    padding-top: 0 !important;
  }
}
body .pb-13 {
  padding-bottom: 13rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-13 {
    padding-bottom: 0 !important;
  }
}
body .p-13 {
  padding: 13rem !important;
}
@media screen and (max-width: 600px) {
  body .p-13 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-13 {
    padding-top: 13rem !important;
  }
}
body .mb-13 {
  margin-bottom: 13rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-13 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-13 {
    margin-bottom: 13rem !important;
  }
}
body .mt-14 {
  margin-top: 14rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-14 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-14 {
    margin-top: 14rem !important;
  }
}
body .pt-14 {
  padding-top: 14rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-14 {
    padding-top: 0 !important;
  }
}
body .pb-14 {
  padding-bottom: 14rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-14 {
    padding-bottom: 0 !important;
  }
}
body .p-14 {
  padding: 14rem !important;
}
@media screen and (max-width: 600px) {
  body .p-14 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-14 {
    padding-top: 14rem !important;
  }
}
body .mb-14 {
  margin-bottom: 14rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-14 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-14 {
    margin-bottom: 14rem !important;
  }
}
body .mt-15 {
  margin-top: 15rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-15 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-15 {
    margin-top: 15rem !important;
  }
}
body .pt-15 {
  padding-top: 15rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-15 {
    padding-top: 0 !important;
  }
}
body .pb-15 {
  padding-bottom: 15rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-15 {
    padding-bottom: 0 !important;
  }
}
body .p-15 {
  padding: 15rem !important;
}
@media screen and (max-width: 600px) {
  body .p-15 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-15 {
    padding-top: 15rem !important;
  }
}
body .mb-15 {
  margin-bottom: 15rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-15 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-15 {
    margin-bottom: 15rem !important;
  }
}
body .mt-16 {
  margin-top: 16rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-16 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-16 {
    margin-top: 16rem !important;
  }
}
body .pt-16 {
  padding-top: 16rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-16 {
    padding-top: 0 !important;
  }
}
body .pb-16 {
  padding-bottom: 16rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-16 {
    padding-bottom: 0 !important;
  }
}
body .p-16 {
  padding: 16rem !important;
}
@media screen and (max-width: 600px) {
  body .p-16 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-16 {
    padding-top: 16rem !important;
  }
}
body .mb-16 {
  margin-bottom: 16rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-16 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-16 {
    margin-bottom: 16rem !important;
  }
}
body .mt-17 {
  margin-top: 17rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-17 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-17 {
    margin-top: 17rem !important;
  }
}
body .pt-17 {
  padding-top: 17rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-17 {
    padding-top: 0 !important;
  }
}
body .pb-17 {
  padding-bottom: 17rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-17 {
    padding-bottom: 0 !important;
  }
}
body .p-17 {
  padding: 17rem !important;
}
@media screen and (max-width: 600px) {
  body .p-17 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-17 {
    padding-top: 17rem !important;
  }
}
body .mb-17 {
  margin-bottom: 17rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-17 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-17 {
    margin-bottom: 17rem !important;
  }
}
body .mt-18 {
  margin-top: 18rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-18 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-18 {
    margin-top: 18rem !important;
  }
}
body .pt-18 {
  padding-top: 18rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-18 {
    padding-top: 0 !important;
  }
}
body .pb-18 {
  padding-bottom: 18rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-18 {
    padding-bottom: 0 !important;
  }
}
body .p-18 {
  padding: 18rem !important;
}
@media screen and (max-width: 600px) {
  body .p-18 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-18 {
    padding-top: 18rem !important;
  }
}
body .mb-18 {
  margin-bottom: 18rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-18 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-18 {
    margin-bottom: 18rem !important;
  }
}
body .mt-19 {
  margin-top: 19rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-19 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-19 {
    margin-top: 19rem !important;
  }
}
body .pt-19 {
  padding-top: 19rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-19 {
    padding-top: 0 !important;
  }
}
body .pb-19 {
  padding-bottom: 19rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-19 {
    padding-bottom: 0 !important;
  }
}
body .p-19 {
  padding: 19rem !important;
}
@media screen and (max-width: 600px) {
  body .p-19 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-19 {
    padding-top: 19rem !important;
  }
}
body .mb-19 {
  margin-bottom: 19rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-19 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-19 {
    margin-bottom: 19rem !important;
  }
}
body .mt-20 {
  margin-top: 20rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-20 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-20 {
    margin-top: 20rem !important;
  }
}
body .pt-20 {
  padding-top: 20rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-20 {
    padding-top: 0 !important;
  }
}
body .pb-20 {
  padding-bottom: 20rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-20 {
    padding-bottom: 0 !important;
  }
}
body .p-20 {
  padding: 20rem !important;
}
@media screen and (max-width: 600px) {
  body .p-20 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-20 {
    padding-top: 20rem !important;
  }
}
body .mb-20 {
  margin-bottom: 20rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-20 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-20 {
    margin-bottom: 20rem !important;
  }
}
body .mt-21 {
  margin-top: 21rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-21 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-21 {
    margin-top: 21rem !important;
  }
}
body .pt-21 {
  padding-top: 21rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-21 {
    padding-top: 0 !important;
  }
}
body .pb-21 {
  padding-bottom: 21rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-21 {
    padding-bottom: 0 !important;
  }
}
body .p-21 {
  padding: 21rem !important;
}
@media screen and (max-width: 600px) {
  body .p-21 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-21 {
    padding-top: 21rem !important;
  }
}
body .mb-21 {
  margin-bottom: 21rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-21 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-21 {
    margin-bottom: 21rem !important;
  }
}
body .mt-22 {
  margin-top: 22rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-22 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-22 {
    margin-top: 22rem !important;
  }
}
body .pt-22 {
  padding-top: 22rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-22 {
    padding-top: 0 !important;
  }
}
body .pb-22 {
  padding-bottom: 22rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-22 {
    padding-bottom: 0 !important;
  }
}
body .p-22 {
  padding: 22rem !important;
}
@media screen and (max-width: 600px) {
  body .p-22 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-22 {
    padding-top: 22rem !important;
  }
}
body .mb-22 {
  margin-bottom: 22rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-22 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-22 {
    margin-bottom: 22rem !important;
  }
}
body .mt-23 {
  margin-top: 23rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-23 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-23 {
    margin-top: 23rem !important;
  }
}
body .pt-23 {
  padding-top: 23rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-23 {
    padding-top: 0 !important;
  }
}
body .pb-23 {
  padding-bottom: 23rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-23 {
    padding-bottom: 0 !important;
  }
}
body .p-23 {
  padding: 23rem !important;
}
@media screen and (max-width: 600px) {
  body .p-23 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-23 {
    padding-top: 23rem !important;
  }
}
body .mb-23 {
  margin-bottom: 23rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-23 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-23 {
    margin-bottom: 23rem !important;
  }
}
body .mt-24 {
  margin-top: 24rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-24 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-24 {
    margin-top: 24rem !important;
  }
}
body .pt-24 {
  padding-top: 24rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-24 {
    padding-top: 0 !important;
  }
}
body .pb-24 {
  padding-bottom: 24rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-24 {
    padding-bottom: 0 !important;
  }
}
body .p-24 {
  padding: 24rem !important;
}
@media screen and (max-width: 600px) {
  body .p-24 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-24 {
    padding-top: 24rem !important;
  }
}
body .mb-24 {
  margin-bottom: 24rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-24 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-24 {
    margin-bottom: 24rem !important;
  }
}
body .mt-25 {
  margin-top: 25rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-25 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-25 {
    margin-top: 25rem !important;
  }
}
body .pt-25 {
  padding-top: 25rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-25 {
    padding-top: 0 !important;
  }
}
body .pb-25 {
  padding-bottom: 25rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-25 {
    padding-bottom: 0 !important;
  }
}
body .p-25 {
  padding: 25rem !important;
}
@media screen and (max-width: 600px) {
  body .p-25 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-25 {
    padding-top: 25rem !important;
  }
}
body .mb-25 {
  margin-bottom: 25rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-25 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-25 {
    margin-bottom: 25rem !important;
  }
}
body .mt-26 {
  margin-top: 26rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-26 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-26 {
    margin-top: 26rem !important;
  }
}
body .pt-26 {
  padding-top: 26rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-26 {
    padding-top: 0 !important;
  }
}
body .pb-26 {
  padding-bottom: 26rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-26 {
    padding-bottom: 0 !important;
  }
}
body .p-26 {
  padding: 26rem !important;
}
@media screen and (max-width: 600px) {
  body .p-26 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-26 {
    padding-top: 26rem !important;
  }
}
body .mb-26 {
  margin-bottom: 26rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-26 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-26 {
    margin-bottom: 26rem !important;
  }
}
body .mt-27 {
  margin-top: 27rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-27 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-27 {
    margin-top: 27rem !important;
  }
}
body .pt-27 {
  padding-top: 27rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-27 {
    padding-top: 0 !important;
  }
}
body .pb-27 {
  padding-bottom: 27rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-27 {
    padding-bottom: 0 !important;
  }
}
body .p-27 {
  padding: 27rem !important;
}
@media screen and (max-width: 600px) {
  body .p-27 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-27 {
    padding-top: 27rem !important;
  }
}
body .mb-27 {
  margin-bottom: 27rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-27 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-27 {
    margin-bottom: 27rem !important;
  }
}
body .mt-28 {
  margin-top: 28rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-28 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-28 {
    margin-top: 28rem !important;
  }
}
body .pt-28 {
  padding-top: 28rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-28 {
    padding-top: 0 !important;
  }
}
body .pb-28 {
  padding-bottom: 28rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-28 {
    padding-bottom: 0 !important;
  }
}
body .p-28 {
  padding: 28rem !important;
}
@media screen and (max-width: 600px) {
  body .p-28 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-28 {
    padding-top: 28rem !important;
  }
}
body .mb-28 {
  margin-bottom: 28rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-28 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-28 {
    margin-bottom: 28rem !important;
  }
}
body .mt-29 {
  margin-top: 29rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-29 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-29 {
    margin-top: 29rem !important;
  }
}
body .pt-29 {
  padding-top: 29rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-29 {
    padding-top: 0 !important;
  }
}
body .pb-29 {
  padding-bottom: 29rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-29 {
    padding-bottom: 0 !important;
  }
}
body .p-29 {
  padding: 29rem !important;
}
@media screen and (max-width: 600px) {
  body .p-29 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-29 {
    padding-top: 29rem !important;
  }
}
body .mb-29 {
  margin-bottom: 29rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-29 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-29 {
    margin-bottom: 29rem !important;
  }
}
body .mt-30 {
  margin-top: 30rem !important;
}
@media screen and (max-width: 600px) {
  body .mt-30 {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mt-sm-30 {
    margin-top: 30rem !important;
  }
}
body .pt-30 {
  padding-top: 30rem !important;
}
@media screen and (max-width: 600px) {
  body .pt-30 {
    padding-top: 0 !important;
  }
}
body .pb-30 {
  padding-bottom: 30rem !important;
}
@media screen and (max-width: 600px) {
  body .pb-30 {
    padding-bottom: 0 !important;
  }
}
body .p-30 {
  padding: 30rem !important;
}
@media screen and (max-width: 600px) {
  body .p-30 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .pt-sm-30 {
    padding-top: 30rem !important;
  }
}
body .mb-30 {
  margin-bottom: 30rem !important;
}
@media screen and (max-width: 600px) {
  body .mb-30 {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 600px) {
  body .mb-sm-30 {
    margin-bottom: 30rem !important;
  }
}
body .uppercase {
  text-transform: uppercase;
}
body .header {
  background-image: url(../img/bg-start.webp);
  background-size: cover;
  background-position-x: center;
  min-height: 100vh;
}
body .header nav li, body .header nav a {
  color: white !important;
}
body .header img {
  margin-top: 20vh;
  width: 500px;
}
@media screen and (max-width: 600px) {
  body .header img {
    width: 300px !important;
  }
}
body .header img.navbar {
  margin-top: 0;
  width: 100%;
}
body #lamp {
  -webkit-transition: all 0.99s ease;
  -moz-transition: all 0.99s ease;
  -ms-transition: all 0.99s ease;
  -o-transition: all 0.99s ease;
  transition: all 0.99s ease;
}
body #detail1 {
  position: absolute;
  top: -220px;
  width: 690px;
  -webkit-transition: all 2.99s ease;
  -moz-transition: all 2.99s ease;
  -ms-transition: all 2.99s ease;
  -o-transition: all 2.99s ease;
  transition: all 2.99s ease;
  z-index: -1;
}
body #detail2 {
  position: absolute;
  width: 530px;
  right: 0;
  top: -260px;
  -webkit-transition: all 2.99s ease;
  -moz-transition: all 2.99s ease;
  -ms-transition: all 2.99s ease;
  -o-transition: all 2.99s ease;
  transition: all 2.99s ease;
}
body #detail1-evento {
  position: absolute;
  right: 0;
  width: 640px;
  top: -10vh;
  -webkit-transition: all 3.99s ease;
  -moz-transition: all 3.99s ease;
  -ms-transition: all 3.99s ease;
  -o-transition: all 3.99s ease;
  transition: all 3.99s ease;
}
body #detail1-local {
  position: absolute;
  right: 0px;
  width: 500px;
  top: 530px;
  -webkit-transition: all 3.99s ease;
  -moz-transition: all 3.99s ease;
  -ms-transition: all 3.99s ease;
  -o-transition: all 3.99s ease;
  transition: all 3.99s ease;
}
body #detail1-local-left {
  position: absolute;
  right: 0px;
  width: 542px;
  top: 160px;
  transform: rotate(180deg);
  -webkit-transition: all 3.99s ease;
  -moz-transition: all 3.99s ease;
  -ms-transition: all 3.99s ease;
  -o-transition: all 3.99s ease;
  transition: all 3.99s ease;
}
body .schedule {
  position: relative;
  text-shadow: 0px 1px 2px lightgrey;
}
body .schedule::before {
  content: "";
  position: absolute;
  height: 100%;
  /*width: .5rem;*/
  width: 0.3rem;
  background: #343a40;
  left: 2rem;
}
body .schedule::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
body .timeline-block:nth-child(odd) {
  padding-left: 0;
  padding-right: calc(50% + 4rem);
  text-align: right;
  position: relative;
}
body .timeline-activation {
  font-size: 2rem;
  text-shadow: 0px 1px 2px white;
  color: black;
}
body .timeline-activation.active {
  font-weight: bold;
  color: purple !important;
  text-shadow: 1px 1px 25px white;
}
body .timeline-block:nth-child(even) {
  padding-right: 0;
  padding-left: calc(50% + 4rem);
  text-align: left;
  position: relative;
}
body .timeline-content {
  position: relative;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
body .timeline-content p {
  margin: 0;
}
body .timeline-content p:first-of-type {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  font-family: "Inconsolata", monospace;
}
body .timeline-content .descricao {
  margin-bottom: 2rem;
}
body .timeline-block:nth-child(odd)::before {
  left: initial;
  right: 50%;
  -webkit-transform: translateX(0.5rem);
  transform: translateX(0.5rem);
}
body .timeline-block:nth-child(even)::before {
  left: initial;
  left: 50%;
  -webkit-transform: translateX(-0.5rem);
  transform: translateX(-0.5rem);
}
body .timeline-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2rem;
  width: 1rem;
  height: 1rem;
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);
  border-radius: 50%;
  box-shadow: 0 0 0 7px white, 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background: #343a40;
  transition: all 0.99s ease-in;
  will-change: box-shadow;
}
body .timeline-block.current::before {
  box-shadow: 0 0 0 7px #9c27b0, 0 3px 0 4px #8e24aa;
  background: #fff;
  transition: box-shadow 0.5s ease-in;
}
body .timeline-block h3 {
  font-weight: 700;
  font-size: 1.6rem;
}
@media (max-width: 575px) {
  body .display-3 {
    font-size: 3.5rem;
  }
  body .schedule::before {
    left: 0;
  }
  body .timeline-block:nth-child(odd) {
    padding-left: 1.6rem;
    padding-right: 0;
    text-align: left;
    position: relative;
  }
  body .timeline-block:nth-child(even) {
    padding-right: 0;
    padding-left: 1.6rem;
    text-align: left;
    position: relative;
  }
  body .timeline-block:nth-child(odd)::before {
    left: 0;
    right: 0;
    -webkit-transform: translateX(-0.5rem);
    transform: translateX(-0.5rem);
  }
  body .timeline-block:nth-child(even)::before {
    left: 0;
    right: 0;
    -webkit-transform: translateX(-0.5rem);
    transform: translateX(-0.5rem);
  }
  body .logo-worktech-white {
    filter: contrast(90%) brightness(100);
  }
}
body .logo-seifi {
  padding: 0 3rem 0rem 3rem;
}
@media screen and (max-width: 600px) {
  body .logo-seifi {
    padding: 0 1rem 0rem 1rem;
  }
}

body.dark {
  background: black;
  color: white !important;
  -webkit-transition: all 0.99s ease;
  -moz-transition: all 0.99s ease;
  -ms-transition: all 0.99s ease;
  -o-transition: all 0.99s ease;
  transition: all 0.99s ease;
}
body.dark .logo-seifi, body.dark .logo-sematif, body.dark .logo-worktech {
  filter: contrast(90%) brightness(100);
}
body.dark .hoverable-text {
  -webkit-transition: all 0.99s ease;
  -moz-transition: all 0.99s ease;
  -ms-transition: all 0.99s ease;
  -o-transition: all 0.99s ease;
  transition: all 0.99s ease;
}
body.dark .hoverable-text:hover {
  color: white !important;
}
body.dark .card-reveal p {
  color: black !important;
}
body.dark .footer-final .text-about {
  color: white !important;
}
body.dark .footer-final .text-about a {
  color: white !important;
}
body.dark .timeline-activation {
  color: white;
}

body .nav1 {
  display: flex;
  align-items: center;
}

body .nav2 {
  position: fixed;
  top: 0;
  left: -300px;
  height: 100vh;
  width: 300px;
  background: rgba(0, 0, 0, 0.850);
  opacity: 0;  
  visibility: hidden; 
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

body .nav2.active {
  left: 0;
  opacity: 1; 
  visibility: visible; 
}

body .nav2.inactive {
  left: -300px;
  opacity: 0; 
  visibility: hidden; 
}

body .navbar1 {
  display: flex;
  justify-content: right;
  width: 100%;
}

body .lista01 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: white 1px solid;
  height: 15vh;
  margin-bottom: 7%;
}

body .logo-worktech-white {
  max-width: 42%;
  height: auto;
}

body .listaIcone {
  display: flex;
  margin: 0% 0% 0% 10%;
}

body .fa {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
}

body .navButton {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  display: none;
  margin-left: 2%;
}

body .navButton {
  cursor: pointer;
}

body .hidden {
  display: none;
}

@media (max-width: 768px) {
  body .navbar1 {
    display: none;
  }

  body .navButton {
    display: block;
  }

  .navbar2 {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  body.programacao h1, body.local-page h1 {
    font-size: 2.5rem !important;
  }

  body .fs {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
