// Header
.header {
  background-image: url(../img/bg-start.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: $header-min-height;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  will-change: transform;

  nav {
    background: rgba(0, 0, 0, 0) !important;
    li,
    a {
      color: $color-white !important;
    }
  }

  img {
    margin-top: 20vh;
    width: $logo-width-desktop;

    @include mobile {
      width: $logo-width-mobile !important;
    }
  }

  img.navbar {
    margin-top: 0;
    width: 100%;
  }

  @include mobile {
    background-position: center 40%;
    min-height: 100vh;
  }
}

// Footer
#footer {
  background-image: url(../img/footer-detail.png);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

  @include mobile {
    background-position-y: bottom;
  }
}

.footer-final {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/footer-detail.png);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    pointer-events: none;
    z-index: 0;
  }

  .text-about {
    position: relative;
    z-index: 1;
    color: $color-black !important;
    a {
      color: $color-black !important;
      text-decoration: underline;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .container,
  img,
  p {
    position: relative;
    z-index: 1;
  }

  @include mobile {
    background-size: cover;
    background-position-y: bottom;
    min-height: 20rem;
  }
}

// Details/decorations
#detail-left {
  position: absolute;
  width: 90%;
  top: -178px;
  filter: blur(1px) opacity(0.9);
}

// Antigas regras de #detail-right e #detail1 removidas
// Agora utilizamos SVGs animados: svg-programacao-triangles e svg-inscricoes-triangles

#detail2 {
  position: absolute;
  width: 530px;
  right: 0;
  top: -260px;
  @include transition(all 2.99s $transition-easing);
}

#detail1-evento {
  position: absolute;
  right: 0;
  opacity: 0.5;
  width: 640px;
  top: -10vh;
  @include transition(all 3.99s $transition-easing);
}

#detail1-local {
  position: absolute;
  right: 0px;
  opacity: 0.5;
  width: 500px;
  top: 530px;
  @include transition(all 3.99s $transition-easing);
}

#detail1-local-left {
  position: absolute;
  right: 0px;
  opacity: 0.5;
  width: 542px;
  top: 160px;
  @include transform(rotate(180deg));
  @include transition(all 3.99s $transition-easing);
}

// Local section
.index-local {
  min-height: 700px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.95) 10%,
      rgba(255, 255, 255, 0.7) 30%,
      rgba(255, 255, 255, 0) 50%
    ),
    url(../img/background_final.png);
  background-size: 100%, 100%;
  background-position: 50% 0%, 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  will-change: background-position, background-size;

  // Transição no final para conectar com o footer
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 30%,
      rgba(255, 255, 255, 0.7) 60%,
      rgba(255, 255, 255, 0.95) 85%,
      rgba(255, 255, 255, 1) 100%
    );
    pointer-events: none;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  h5 {
    line-height: 2.5rem;
  }

  @include mobile {
    min-height: 500px;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.9) 20%,
      rgba(255, 255, 255, 0.8) 100%
    );

    &::after {
      display: none;
    }
  }
}

// Fixed action button
#lamp {
  @include transition(all $transition-duration $transition-easing);

  @include mobile {
    right: 15px !important;
    bottom: 15px !important;
  }

  .btn-floating {
    @include mobile {
      width: 48px;
      height: 48px;

      i {
        font-size: 1.8rem;
        line-height: 48px;
      }
    }
  }
}

// Sidenav styles
.sidenav {
  z-index: 1001 !important;

  li {
    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0 32px;

      i {
        margin: 0;
      }
    }
  }

  .logo-worktech-white {
    max-width: 180px;
    margin: 0 auto;
  }
}

body.dark .sidenav {
  background: rgba(0, 0, 0, 0.95) !important;
}

// Sidenav overlay fix
#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 996;
  will-change: opacity;
}

.sidenav-overlay {
  z-index: 996 !important;
}
