<div class="container-fluid hide-on-med-and-down" id="footer">
    <section>
      <div class="container center white rounded"> 
        <div class="losangle position-relative">
          <div class="uppercase f-700">Apoio/Realização</div>
        </div>
        <div class="row mt-3 row_apoio_realizacao">
          <div class="col s2 offset-m1 white">
            <img src="img/governo.png" class="responsive-img">
          </div>
          <div class="col s2 white">
            <img src="img/ifsp.png" class="responsive-img">
          </div>
          <div class="col s2 white">
            <img src="img/logo_cpi.png" class="responsive-img">
          </div>
          <div class="col s2 white">
            <img src="img/prefeitura.jpg" class="responsive-img">
          </div>
          <div class="col s2 white">
            <img src="img/SNCT_2018_icone.png" class="responsive-img">
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <footer id="" class="page-footer white grey-text text-darken-2">
        <div class="container white center-align">
          <h5 class=""></h5>
        </div>
        <div class="footer-copyright white center-align">
          <div class="container grey-text text-darken-2 sm-text">
            <div class="divider mb-3"></div>
            <div class=""></div>
            <p clas="">© 2018 - Quase todos os direitos reservados</p>
            <p class="so-sm-text grey-text">Designed and built with a lot of patience, care and haste by <a href="">@danilocbueno</a> and <a href="https://paulhenrique.github.io/ph" target="_blank">@paulhenrique</a></p>
          </div>
        </div>
      </footer>

    </div>
  </div>