  <div class="container-fluid footer-final">
    <div class="center-align  mt-4">
      <img id="logo_footer" src="img/ifsp.png" class="responsive-img footer-logo" style="width: 20vw;">
      <p class=" f-700 uppercase">O Worktech é uma iniciativa do IFSP Câmpus Itapetininga</p>
      <p class="mt-3">© 2020 - Todos os direitos reservados</p>
      <p class="so-sm-text white-text mb-0 pb-5 text-about">Designed and built with a lot of patience, care and haste by <a class="pink-text" href="https://github.com/danilocbueno">@danilocbueno</a> and <a class="pink-text" href="https://paulhenrique.github.io/ph" target="_blank">@paulhenrique</a></p>
    </div>

  </div>
</div>