<div id="inscricoes" class="container-fluid position-relative">
  <!-- SVG com triângulos animados em formato de montanha -->
  <svg
    id="svg-inscricoes-triangles"
    class="svg-animated-triangles hide-on-med-and-down"
    viewBox="0 0 690 800"
    preserveAspectRatio="none"
    style="
      position: absolute;
      top: -220px;
      left: 0;
      width: 690px;
      height: 800px;
      z-index: 5;
      pointer-events: none;
      opacity: 0.5;
      overflow: visible;
    "
  >
    <!-- Triângulos serão gerados dinamicamente via JavaScript -->
  </svg>
  <div class="row mt-15">
    <div class="col m4 s12 offset-m6 mt-sm-3 mb-sm-5 right-align">
      <h2 class="uppercase f-700 fs hoverable-text">Inscrições</h2>
      <h4 class="thin">
        As inscrições garantem a participação e o certificado!
      </h4>
      <a href="#programacao" class="btn-large mt-sm-1">
        <i class="material-icons left">person_add</i>Realizar Inscrição
      </a>
    </div>
  </div>
</div>
