<nav class="white gray-text z-depth-0"> 
  <div class="container-fluid">
    <div class="nav-wrapper">
      <a href="#" data-target="navigation-bar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class=" right hide-on-med-and-down">
        <li><a class="grey-text" href="index.html">Início</a></li>
        <li><a class="grey-text" href="#programacao">Programação</a></li>
        <li><a class="grey-text" href="#inscricoes">Inscrições</a></li>
        <li><a class="grey-text" href="#local">Local</a></li>
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="navigation-bar" style="background: #000000ab;">
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3 mt-sm-3">
        <img src="img/logo_worktech_remake.png" class="responsive-img navbar logo-worktech-white">
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <li class="mt-sm-2"><a class="white-text" href="index.html"><i class="material-icons white-text">home</i>Início</a></li>
  <li><a class="white-text" href="#programacao"><i class="material-icons white-text">calendar_today</i>Programação</a></li>
  <li><a class="white-text" href="#inscricoes"><i class="material-icons white-text">edit</i>Inscrições</a></li>
  <li><a class="white-text" href="#local"><i class="material-icons white-text">location_on</i>Local</a></li>
</div>
</ul>