@mixin transition($property) {
	-webkit-transition: $property;
	-moz-transition: $property;
	-ms-transition: $property;
	-o-transition: $property;
	transition: $property;
}

body{
	background-color: red;
	img{
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none; 
		pointer-events: none;
	}
	#detail-left{
		position: absolute;
		width: 90%;
		top: -178px;
		filter: blur(1px) opacity(0.9);
	}
	#detail-right{
		position: absolute;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		width: 750px;
		top: -100px;
		right: 0;
		z-index: -1;
	}
	h1{

		// @media screen and (max-width: 600px) {
		// 	font-size: 1rem;
		// }
	}
	
	#logo-topo-home{
		// @include transition(all .99s ease);
	}
	@include transition(all .99s ease);
	background: white;
	color: black!important;

	.sm-text{
		font-size: 0.9rem !important;
	}
	.so-sm-text{
		font-size: 0.8rem !important;
	}
	.f-900{
		font-weight: 900;
	}
	.f-700{
		font-weight: 700;
	}
	.hoverable-text{
		@include transition(all .99s ease);
		&:hover{
			color:#505050!important;
		}
	}
	.index-local{
		min-height: 500px;
		background: url(../img/campus_itapetininga.png) no-repeat;
		background-size: 80%;
		background-position-x: 100%;
		h5{
			line-height: 2.5rem;
		}
		@media screen and (max-width: 600px) {
			background-image: none;
		}
	}
	.row_apoio_realizacao{
		background: white !important;
		padding-bottom: 32px;
		margin-bottom: 0;
	}
	.rounded{
		border-radius: 20px 20px 0 0 ;
	}
	.losangle{
		z-index: 0;
		top: -30px;
		
		div{
			z-index: 1;
			@media screen and (max-width: 600px) {
				font-size: 2rem !important;
			}
		}
		color: #fff !important;
		font-size: 3rem;
		&:before {
			content: '';
			width: 100%;
			height: 54px;
			background: #00b2ca;
			position: absolute;
			z-index: -1;
			left: 0;
			top: 10px;
			transform: skew(-17deg);
		}
	}
	#footer{
		background-image: url(../img/footer-detail.png);
		background-size: 100%;	
		background-repeat: no-repeat;
		@media screen and (max-width: 600px) {
			background-position-y: bottom;
		}
		
	}
	.position-relative{
		position: relative;
	}

	.italic{
		font-style: italic;
	}
	.footer-final {
		background-image: url(../img/footer-detail.png);
		background-size: 100%;	
		background-repeat: no-repeat;
		.text-about{
			color: black !important;
			a{
				color: black !important;
			}
		}
		@media screen and (max-width: 600px) {
			background-size: cover;	
			background-position-y: bottom;
			min-height: 20rem;
		}
		a{
			color: white !important;
		}
	}
	@for $i from 0 through 30 {

		.mt-#{$i}{
			margin-top: 1rem *$i !important;
			@media screen and (max-width: 600px) {
				margin-top: 0 !important;
			}
		}
		.mt-sm-#{$i}{
			@media screen and (max-width: 600px) {
				margin-top: 1rem *$i !important;
			}
		}
		.pt-#{$i}{
			padding-top: 1rem *$i !important;
			@media screen and (max-width: 600px) {
				padding-top: 0 !important;
			}
		}
		.pb-#{$i}{
			padding-bottom: 1rem *$i !important;
			@media screen and (max-width: 600px) {
				padding-bottom: 0 !important;
			}
		}
		.p-#{$i}{
			padding: 1rem *$i !important;
			@media screen and (max-width: 600px) {
				padding: 0 !important;
			}
		}
		.pt-sm-#{$i}{
			@media screen and (max-width: 600px) {
				padding-top: 1rem *$i !important;
			}
		}
		.mb-#{$i}{
			margin-bottom: 1rem * $i !important;
			@media screen and (max-width: 600px) {
				margin-bottom: 0 !important;
			}
		}
		.mb-sm-#{$i}{
			@media screen and (max-width: 600px) {
				margin-bottom: 1rem * $i !important;
			}
		}
	}
	.uppercase{
		text-transform: uppercase;
	}
	.header{
		background-image: url(../img/bg-start.webp);
		background-size: cover;
		background-position-x: center;
		min-height: 100vh;
		nav{
			background: rgba(0,0,0,0.0) !important;
			li, a{
				color: white!important;
			}
		}
		img{
			margin-top: 20vh;
			width: 500px;
			@media screen and (max-width: 600px) {
				width: 300px !important;
			}
		}
		img.navbar{
			margin-top: 0;
			width: 100%;
		}
	}
	#lamp{
		@include transition(all .99s ease);
	}
	#detail1{
		position: absolute;
		top: -220px;
		width: 690px;
		@include transition(all 2.99s ease);
		z-index: -1;
	}
	#detail2{
		position: absolute;
		width: 530px;
		right: 0;
		top: -260px;
		@include transition(all 2.99s ease);
	}
	#detail1-evento {
		position: absolute;
		right: 0;
		width: 640px;
		top:-10vh;
		@include transition(all 3.99s ease);
	}
	#detail1-local {
		position: absolute;
		right: 0px;
		width: 500px;
		top: 530px;
		@include transition(all 3.99s ease);
	}
	#detail1-local-left {
		position: absolute;
		right: 0px;
		width: 542px;
		top: 160px;
		transform: rotate(180deg);
		@include transition(all 3.99s ease);
	}
	// #detail1-evento:hover, #detail1:hover, #detail2d:hover{
	// 	filter: grayscale(2) brightness(0);
	// }

	.schedule{
		position: relative;
		text-shadow: 0px 1px 2px lightgrey;
	}
	.schedule::before {
		content: '';
		position: absolute;
		height: 100%;
	/*width: .5rem;*/
	width: 0.3rem;
	background: #343a40;
	left: 2rem;
}
.schedule::before {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}


.timeline-block:nth-child(odd) {
	padding-left: 0;
	padding-right: calc(50% + 4rem);
	text-align: right;
	position: relative;
}

.timeline-activation {
	font-size: 2rem;
	text-shadow: 0px 1px 2px white;
	color:black;
}


.timeline-activation.active{
	font-weight: bold;
	color: purple !important;
	text-shadow: 1px 1px 25px white;
}


.timeline-block:nth-child(even) {
	padding-right: 0;
	padding-left: calc(50% + 4rem);
	text-align: left;
	position: relative;
}

.timeline-content {
	position: relative;
	margin-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.timeline-content p {
	margin: 0;
}

.timeline-content p:first-of-type {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
	font-family: 'Inconsolata', monospace;
}

.timeline-content .local {
	margin-bottom: 2rem;
}

.timeline-block:nth-child(odd)::before{
	left: initial;
	right: 50%;
	-webkit-transform: translateX(0.5rem);
	transform: translateX(0.5rem);
}
.timeline-block:nth-child(even)::before{
	left: initial;
	left: 50%;
	-webkit-transform: translateX(-0.5rem);
	transform: translateX(-0.5rem);
}
.timeline-block::before {
	content: '';
	position: absolute;
	top: 0;
	left: 2rem;
	width: 1rem;
	height: 1rem;
	-webkit-transform: translateX(-25%);
	transform: translateX(-25%);
	border-radius: 50%;
	box-shadow: 0 0 0 7px white, 0 3px 0 4px rgba(0, 0, 0, 0.05);
	background: #343a40;
	transition: all .99s ease-in;
	will-change: box-shadow;
}
.timeline-block.current::before {
	box-shadow: 0 0 0 7px #9c27b0, 0 3px 0 4px #8e24aa;
	background: #fff;
	transition: box-shadow .5s ease-in;
}
.timeline-block h3{
	font-weight: 700;
	font-size: 1.6rem;
}
@media (max-width: 575px) {
	.display-3 {
		font-size: 3.5rem;
	}
	.schedule::before {
		left: 0;
	}
	.timeline-block:nth-child(odd) {
		padding-left: 1.6rem;
		padding-right: 0;
		text-align: left;
		position: relative;

	}

	.timeline-block:nth-child(even) {
		padding-right: 0;
		padding-left: 1.6rem;
		text-align: left;
		position: relative;
	}
	.timeline-block:nth-child(odd)::before{
		left: 0;
		right: 0;
		-webkit-transform: translateX(-0.5rem);
		transform: translateX(-0.5rem);
	}
	.timeline-block:nth-child(even)::before{
		left: 0;
		right: 0;
		-webkit-transform: translateX(-0.5rem);
		transform: translateX(-0.5rem);
	}
	.logo-worktech-white{
		filter:contrast(90%) brightness(100);
	}

}
.logo-seifi{
	padding: 0 3rem 0rem 3rem;
	@media screen and (max-width: 600px) {
		padding: 0 1rem 0rem 1rem;
	}
}
}
body.dark{
	background: black;
	color: white!important;
	.logo-seifi, .logo-sematif, .logo-worktech{
		filter:contrast(90%) brightness(100);
	}
	@include transition(all .99s ease);
	.hoverable-text{
		@include transition(all .99s ease);
		&:hover{
			color:white!important;
		}
	}
	.card-reveal{
		p{
			color: black !important;
		}
	}
	.footer-final {
		.text-about{
			color: white !important;
			a{
				color: white !important;	
			}
		}
	}

	.timeline-activation {
		color:white;
	}
}
body.programacao, body.local-page{
	h1{
		
		@media screen and (max-width: 600px) {
			font-size: 2.5rem !important;
		}
	}
}